html {
    background-color: #e6f5ff;
    color: #4d4d4c;
}

body {
    background-color: #FAFDFF;
    margin: 1px;
    font-size: 0.95em;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1em;
}

p {
    padding-left: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.content {
    margin: 1em;
}

.control-link, .file-link {
    color: #3e999f;
}

.copy-link {
    color: #3e999f;
    font-size: 0.8em;
}

.key {
    color: #8959a8;
    font-weight: bold;
}

.header {
    font-size: 1.2em;
    color: #718c00;
}

.subheader {
    font-size: 1.1em;
    padding-left: 1em;
    color: #9999cc;
}

.divider {
    padding: 1px;
    margin: 2em 3em;
    background-color: #e6f5ff;
}